@font-face {
    font-family: Lekton;
    src: url(../fonts/Lekton-Regular.ttf)
}

@font-face {
    font-family: Lekton-Bold;
    src: url(../fonts/Lekton-Bold.ttf)
}

@font-face {
    font-family: Lekton-Italic;
    src: url(../fonts/Lekton-Italic.ttf)
}

.table-container {
    font-family: Lekton;
}
.tag-text{
    padding: 5px 8px;
}
.resume-tag-text {
    color: blue;
    margin-left: 5px;
}
.action-icon {
    margin-left: 10px;
}
.application-wrapper {
    display: flex;
    flex-direction: column;
    
}
.addButton {
    display: flex;
    width: fit-content;
    align-self: end;
    align-items: center;
    margin-bottom: 15px;
}
.addButton-span {

    padding-top: 3px;
}
.modal-style {
    font-family: Lekton;
    font-size: "18px",
}