@font-face {
    font-family: Lekton;
    src: url(../fonts/Lekton-Regular.ttf)
}

@font-face {
    font-family: Lekton-Bold;
    src: url(../fonts/Lekton-Bold.ttf)
}

@font-face {
    font-family: Lekton-Italic;
    src: url(../fonts/Lekton-Italic.ttf)
}

.text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10vw;
}
.home-brandname {
    font-family: Lekton-Bold;
    font-weight: 900;
    font-size: 72px;
    padding-bottom: 50px;
}
.headline-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}
.home-desc {
    font-family: Lekton-Bold;
    font-size: 32px;
    width: 60%;
    align-self: flex-start;
    margin: 30px 0;
}
.home-illu{
    max-width: 200px;
    width: 30vw;
    align-self: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
}
.home-subheader {
    font-family: Lekton-Bold;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0px;
    padding-bottom: 8px;
}
.home-subdesc {
    font-family: Lekton;
    font-size: 24px;
    align-self: flex-start;
}
.home-illu img {
    width: 100%;
    height: auto;
}
.button-wrapper {
    display: block;
    text-align: center;
    background-color: var(--primary-4);
    font-family: Lekton-Bold;
    font-size: 24px;
    border-radius: 15px;
    margin: auto 0;
    padding: 15px 35px;
    color: white !important;
}
a:link, a:visited {
    text-decoration: none;
    color: #000;
}
.button-wrapper:hover {
    background-color: var(--primary-5);
}