@font-face {
	font-family: Lekton;
	src: url(../fonts/Lekton-Regular.ttf)
}
@font-face {
	font-family: Lekton-Bold;
	src: url(../fonts/Lekton-Bold.ttf)
}

* {
  box-sizing: border-box;
}

.resume-logo{
  height: 36px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.nav-bar{
  overflow: hidden;
}

.nav-bar-left{
  float: left;    
  text-align: left;
  width: 250px;
  padding: 0 0 0 54px;  
}

.nav-bar-right{   
  float: right;
  text-align: right;
  width: calc(100% - 250px);
  padding: 0;
}
.popup-menu{
  z-index: 1000 !important;
}

.nav-bar-right, .nav-bar-left{
  list-style-type: none;
  margin: 0;
  background-color: var(--primary-1);
  border-bottom: var(--primary-5);
  border-style: solid;
  border-width: 0 0 1px 0;  
  height: 65px;
}

.nav-item {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-4);
  display: inline-flex;
  text-align: center;  
  align-items: center;
  height: 100%;
}

.nav-item:hover{    
  background-color: var(--primary-2);
  transition: 0.25s;
}

.no-decor, .no-decor:visited, .no-decor:active, .no-decor:hover {
  text-decoration: none;
  color: var(--primary-4);
}

.no-decor-button, .no-decor-button:visited, .no-decor-button:active, .no-decor-button:hover {
  text-decoration: none;
  color: #fff !important;
}

.login-info{
  display: flexbox;
  width: 350px;
  height: 100%;
  padding: 15% 0px;
}

.header-1-login{
  font-family: Lekton-Bold;
  font-size: 18pt;
}

.message{
  font-size: 13.5pt;
}

.partition{
  text-align: center;
  margin: 0 0 0 50px;
}

.dialog-box{
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-5);
  width: 400px;
  height: 400px;
  background-color: var(--primary-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

input.text, select {
  width: 100%;
  height: 32px;
  font-size: 12pt;
  margin: 0 0 10px 0;
}

input.checkbox {
  font-size: 12pt;
}

button {
  padding: 8px 15px;
  border: 1px;  
  border-style: solid;
  border-color: var(--primary-5);
  background-color: var(--primary-4);
  font-size: 15pt;
  font-weight: 500;
  color: #fff;
}

button.negative {
  padding: 8px 15px;
  border: 1px;
  border-style: solid;
  border-color: var(--warning-4);  
  background-color: var(--warning-2);
  font-size: 15pt;
  font-weight: 500;
  color: #fff;
}

button.small {
  padding: 6px 10px;
  border: 1px;
  border-style: solid;
  border-color: var(--primary-5);
  background-color: var(--primary-4);
  font-size: 12pt;
  font-weight: 500;
  color: #fff;
}

button.smallnegative {
  padding: 6px 10px;
  border: 1px;
  border-style: solid;
  border-color: var(--warning-4);  
  background-color: var(--warning-2);
  font-size: 12pt;
  font-weight: 500;
  color: #fff;
}

.checkbox-separators {
  margin: 0 10px;
}