
#Editor_MCE {
    border: 1px solid var(--gray-1);
    border-radius: 3px;
    margin: 0;
    padding: 0.4em 0.6em;
    min-height: 5em;
    outline: none;
    width: 100%;
}

/* Untested */
body#tinymce {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 3px;
}

#footer-section{
    max-height: 10%;
    width: 100%;
}

button:disabled,
button[disabled] {
    border: 1px solid var(--gray-2);
    background-color: var(--gray-1);
    color: var(--gray-3);
}

:root {
    --primary-0: #ddeaff;
    --primary-1: #bcf;
    --primary-2: #9af;
    --primary-3: #68f;
    --primary-4: #46f;
    --primary-5: #03f;
    --warning-1: #f99;
    --warning-2: #f66;
    --warning-3: #f33;
    --warning-4: #f00;
    --gray-1: #ccc;
    --gray-2: #999;
    --gray-3: #666;
    --gray-4: #333;
    --lekton-reg: Lekton-Regular, Roboto Regular, Helvetica, Arial, sans-serif;
    --lekton-bold: Lekton-Bold, Roboto Bold, Helvetica Bold, Arial Bold, sans-serif;
  }