.nav-item:hover .popup-menu, .nav-item-right:hover .popup-menu{
  display:block;
}

.nav-item-right{
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-4);
  display: inline-flex;
  text-align: center;  
  align-items: center;
}

.nav-item-right :not(div.popup-menu, div, li.popup-menu-item, a.no-decor){
  position: relative;
  top: -7px;
}

.popup-menu{
  list-style-type: none;
  margin: 0;
  background-color: var(--primary-0);
  border: var(--primary-5);
  border-style: solid;
  border-width: 1px;  
  position: absolute;
  display: none;
  z-index: 1;
}

.popup-menu-item{
  padding: 8px 20px;
  font-size: 18px;
  color: var(--primary-4);  
  display: block;
  text-align: left;
}

.popup-menu-item:hover{
  background-color: var(--primary-1);
  transition: 0.25s;
}

#add-items.popup-menu{
  top: 64px;
  left: 134px;
}

#user-menu.popup-menu{
  top: 64px;
  right: 0px;
}

#profile-picture-w{
  overflow: none;
  width: 48px;
  margin: 0 20px 0 0;
}